* {
  box-sizing: border-box;
}

body {
  background-color: #191414;
  color: #fff;
}

h2 {
  font-size: 2.4rem;
  text-align: center;
}

.add-form {
  position: absolute;
  top: 10%;
  right: 15%;
  display: grid;
  text-align: center;
  border: 1px solid #555;
}

.add-form h3 {
  font-size: 1.7rem;
}

.add-form form {
  max-width: 330px;
  display: grid;
  padding: 1rem;
}

.add-form form div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 8px;
}

input[type="text"],
input[type="number"] {
  background: #000;
  color: #fff;
  outline: none;
  border: 1px solid #000;
  height: 30px;
  border-radius: 1rem;
  padding: 0 12px 
}

.add-form form .radio-buttons{
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.add-form button {
  margin: 5px;
  padding: 8px;
  border-radius: .3rem;
  outline: none;
  border: 1px solid black;
  color: #fff;
  font-size: 1.2rem;
}

.btn {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  color: #fff;
  border: 1px solid #000;
  border-radius: .3rem;
  background-color: #1db954;
}


.btn:hover {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
  padding-left: 5%;
}

.card {
  border: 1px solid #1db954;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1rem;
  text-align: center;
  
}

.card img {
  width: 180px;
  height: 323px;
}
@media (max-width: 1200px) {
  .add-form{ 
    right: 5%; top: 2%;
  }

  .container { 
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0;
  }
    
  form {
    margin-top: 100px;
  }
}

@media (max-width: 850px) {
 
  .add-form { 
    right: 5%; top: 2%; width: 100%;
  }

  .add-form form { 
    width: 100%; margin: auto; 
  }

  .container { 
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin-top: 450px;
    }
    
  .add-form {
    margin: 100px auto;
    width: 90%; 
  }
}
